:root {
  --disc-space: 50px;
  --disc-size-ratio: 0.8;
  --disc-size: calc(var(--disc-space) * var(--disc-size-ratio));
  --disc-margin: calc((var(--disc-space) - var(--disc-size)) / 2);
}

.board {
  display: inline-flex;
  flex-direction: row;
  align-items: flex-end;
  background-color: blue;
  border: var(--disc-margin) solid blue;
  margin-top: var(--disc-space);
}

.column {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  width: var(--disc-space);
  height: calc(var(--disc-space) * 6);
  cursor: pointer;
  position: relative;
}

.column:hover::before {
  position: absolute;
  top: calc((var(--disc-size) + 3 * var(--disc-margin)) * -1);
  content: '';
  display: block;
}

.disc,
.column:hover::before {
  width: var(--disc-size);
  height: var(--disc-size);
  margin: var(--disc-margin);
  border-radius: 50%;
}

.disc-red,
.turn-red .column:hover::before {
  background-color: red;
}

.disc-yellow,
.turn-yellow .column:hover::before {
  background-color: yellow;
}
