.board {
  display: table;
  margin: 0 auto;
  border: thin solid black;
  border-collapse: collapse;
}

.board__row {
  display: table-row;
}

.board__row__cell {
  display: table-cell;
  width: 50px;
  height: 50px;
  border: thin solid black;
}

.board__row__cell--empty {
  cursor: pointer;
}

.board__row__cell--red {
  background-image: radial-gradient(20px at 25px 50%, red 0%, red 25px, rgba(0, 0,0,0))
}

.board__row__cell--yellow {
  background-image: radial-gradient(20px at 25px 50%, rgb(248, 249, 103) 0%, rgb(248, 249, 103) 25px, rgba(0, 0,0,0))
}